  body {
    background-color: #ECEFF0;
    margin: 0;
    padding: 0;
}

.mqtt-container {
  padding: 20px;
  max-width: 1500px;
  margin: 0 auto; /* Center horizontally */
  background-color: #e7e7e7;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 250px); 
  margin-top: 20px;
  /* Full height minus header/footer */
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 5px;
    background-color: #7de7b4; /* Darker background for the title section */
    padding: 10px;
    border-radius: 12px;
}

.mqtt-title {
    text-align: left;
    font-size: 48px;
    color: #111212; /* Light color for the title text */
    line-height: 1.5;
    margin: 0;
}

.header-image, .header-img {
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 200px;
    border-radius: 8px;
}

.mqtt-content {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 5px;
    padding: 5px;
    background-color: #d3d3d3; /* Light background color for the cards container */
    border-radius: 12px;
}

.mqtt-card {
    background: rgb(237, 233, 250);
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    justify-items: 'center';
}

.mqtt-card h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #444;
}

.mqtt-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mqtt-card li {
    margin-bottom: 15px;
    line-height: 1.6;
}

.device-name {
    color: #0066cc;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.device-name:hover {
    color: #004a99;
}

.cert-info {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.cert-info span {
    margin-right: 8px;
}

.check-icon {
    color: #4caf50;
    font-size: 20px;
    margin-left: 100px;
}

.cross-icon {
    color: #f44336;
    font-size: 20px;
    margin-left: 100px;
}

.mqtt-table {
    max-width: 80px;
    background-color: #9AA2FF;
    border-radius: 8px;
    margin-top: 10px;
    border-collapse: collapse;
}

h4 {
    margin-left: 150px;
    color: rgb(248, 166, 42);
    font-size: 20px;
}

.mqtt-table th, .mqtt-table td {
    border: none;
    padding: 12px;
    text-align: center;
    color: #000000;
    font-size: 16px;
}

.mqtt-table th {
    font-weight: bold;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;        
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Lucida Console", "Courier New", monospace;
}

.dialog-box {
  background: #f8f8f8;
  padding: 25px;
  border-radius: 5px;
  width: 650px;
  max-width: 80%;
  max-height: 50vh;      
  overflow-y: auto;      
  text-align: left;
}
.dialog-back {
align-content: center;
}
.dialog-box h3 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}

.dialog-box p {
    margin: 15px 0;
    color: #555;
    font-size: 14px;
}

.dialog-box button {
    background-color: #62abf3;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.dialog-box button:hover {
    background-color: #033366;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .mqtt-title {
        font-size: 24px;
    }

    .header-image, .header-img {
        width: 100%;
        max-width: 150px;
        margin-top: 15px;
    }

    .device-name {
        font-size: 16px;
    }

    .mqtt-table th, .mqtt-table td {
        font-size: 14px;
    }

    .dialog-box p {
        font-size: 16px;
    }

    .dialog-box button {
        font-size: 14px;
    }
}

.footer {
    text-align: center; /* Center-align the text */
    padding: 20px 0;
    background-color: #494949; /* Dark background color */
    color: #fff; /* White text color for contrast */
    font-size: 14px;
    width: 100%;
    margin-top: 50px;
}

.cert_head {
    margin-bottom: 20px;
    margin-top: 20px;
}

.cert_head2 {
    margin-left: 10px;
}

.org1 {
    width: 60px;
    height: auto;
    vertical-align: middle;
    margin-left: 5px;
}
.footer1 {
  text-align: center; 
  padding: 20px 0; 
  background-color: #494949; 
  color: #fff; 
  font-size: 14px; 
  width: 100%; 
  margin-top: 50px;
}


